# IntelliJ Idea project files
.idea
*.iml
*.uconf.properties
*.logback.xml
.mvn
# Eclipse project files
.classpath
.settings
.project
.metadata

# Temporary files
out
build
target
conf_dev
*.pyc
*.conf
tmp/

# OSX temp files
.DS_Store

# GIT
# .gitignore

# DataBase
*.rdb
*.pdb

# log
logs/
app/mysql/data
app/nacos/standalone-logs


# others
andy
*.temp
.svn
