# IntelliJ Idea project files
.idea
*.iml
*.uconf.properties
*.logback.xml
.mvn
# Eclipse project files
.classpath
.settings
.project
.metadata

# Temporary files
out
build
target
conf_dev
*.pyc
tmp/

# OSX temp files
.DS_Store

# GIT
# .gitignore

# DataBase
*.rdb
*.pdb
app/elasticsearch
app/mysql/data
app/redis-insight/db
app/nacos/standalone-logs

# log
logs/


# others
andy
*.temp
.svn
